@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .center {
    @apply flex justify-center items-center;
  }
  .height {
    @apply h-[calc(100vh-5rem)];
  }
  .bottom {
    background: rgb(31, 32, 32);
    background: linear-gradient(
      0deg,
      rgba(31, 32, 32, 1) 0%,
      rgba(0, 55, 86, 1) 99%,
      rgba(241, 241, 241, 1) 99%,
      rgba(241, 241, 241, 1) 100%
    );
  }
  .button {
    @apply font-medium rounded-xl text-lg px-7 py-3 cursor-pointer;
  }
  .flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
